/**
 * Stoneglove layout notes
 * font-family: 'Lato', sans-serif;
 * body copy #89898c 14pt (kind of grey)
 * email is mailto hyperlink with rollover black
 * minimum 64px border and gutter
 * footer background #2e5595
 * footer color #95d600 15pt
 * mobile version below 620px
 * paragraphs aligned around logo image
 */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}
.container {
    padding: 64px;
}
.contact {
    position: relative;
    z-index: 2;
}
h1 {
  background: url('stoneglove-logo.jpg') no-repeat;
  text-indent: -9999px;
  min-height: 83px;
  min-width: 341px;
  margin-top: 74px;
}
h2 {
  font-size: 0;
}
p, a {
  font-size: 14px;
  color: #89898c ;
}
a {
  text-decoration: none;
}
a:hover {
  color: #000;
}
.about {
    position: absolute;
    left: 469px;
    top: 57px;
    width: 369px;
}
footer {
  font-size: 15px;
  color:#95d600 ;
  background-color: #2e5595;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
footer .bg {
    background: url(stoneglove-background.jpg) no-repeat #fff;
    background-position: bottom;
    background-size: cover;
    min-height: 270px;
}
footer br {
  display: none;
}

footer p {
  padding: 44px 0;
}
/* mobile styles for less than 620px */
@media only screen and (max-width: 836px) {
  h1 {
    background-size: 85% 100%;
    margin-top: 0;
  }
  .about {
    position: unset;
    width: auto;
  }
  .container {
    padding: 32px;
    margin-bottom: 150px;
  }
  footer p {
    padding: 20px 0;
    font-size: 13px;
  }
  footer br {
    display: block;
  }
}
